/* reset */
p, a{
    font-family: 'Manjari', sans-serif;
}
p{
    line-height: 1.8;
    letter-spacing: 0.5px;
}
h1, h2, h3, h4{
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
}
ul li{
    list-style: none;
}
ul {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
section{
    padding-bottom: 50px;
}
.opened{
    z-index: 2;
}
/* header */
.header{
    padding: 0.8em 0;
    /* background: #0099ff; */
}
.header p {
    /* color: #fff; */
    font-size: 1em;
    text-align: center;
    margin-top: 40px;
    letter-spacing: 1px;
}

.navbar-left {
    float: left !important;
}

.navbar-right p{
    display: inline-block;
}
/* header */
/*-- navbar --*/
/* .nav-logo a{
    margin-right: 300px;
} */

.navi{
    background: #0803fc;
}
.navi li a{
    color: #ffffff !important;
}
.navi li.active > a{
    background: #0099ff75;
}
.main-nav{
    padding-top: 5px;
}
.dropdown-item{
    color: #212529 !important;
}
.nav-link{
    /* padding: 20px; */
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
}
.main-nav li{
    padding: 5px;
}
.main-nav a:active{
    color: #ff5500;
}

.nav-logo img{
    object-fit: cover;
    width: 50%;
    height: auto;
}
/* banner */
.banner img{
    width: 100%;
    object-fit: cover;
}
/* main */
main{
    padding-top: 40px;
}
main section h1{
    font-size: 33px;
    position: relative;
}
main section h1:before{
    content: '';
    background: #f60400;
    height: 2px;
    width: 9%;
    position: absolute;
    bottom: 0%;
}
main .about p{
    text-align: justify;
    padding-top: 15px;
}
/* sidebox */
.sidebar-box {
    padding: 20px;
}
.sidebar-box h3 {
    margin-left: -20px;
    margin-right: -20px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 15px;
    border-bottom: 1px solid #f60400;
}
.category-box ul {
    margin: 0 -20px;
    padding: 0;
}
/* gallery */
.container__img-holder {
    max-width: 250px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    /* margin-left: 16px; */
    cursor: pointer;
  }
  
  .container .container__img-holder:nth-child(3n+1) {
    margin-left: 0;
  }
  
  .container__img-holder img {
    width: 100%;
    height: 220px;
    display: block;
    object-fit: cover;
  }
  
  
  /* Popup Styling */
  .img-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  
  .img-popup img {
    max-width: 900px;
    width: 100%;
    opacity: 0;
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
  }
  
  .close-btn {
    width: 35px;
    height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  
  .close-btn .bar {
    height: 4px;
    background: #333;
  }
  
  .close-btn .bar:nth-child(1) {
    transform: rotate(45deg);
  }
  
  .close-btn .bar:nth-child(2) {
    transform: translateY(-4px) rotate(-45deg);
  }
  
  .opened {
    display: flex;
  }
  
  .opened img {
    animation: animatepopup 1s ease-in-out .8s;
    -webkit-animation: animatepopup .3s ease-in-out forwards;
  }
  
  @keyframes animatepopup {
  
    to {
      opacity: 1;
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
    }
  
  }
  
  @media screen and (max-width: 880px) {
  
    .container .container__img-holder:nth-child(3n+1) {
      margin-left: 16px;
    }
  
  }
  section h1{
      margin-bottom: 20px;
  }
  /* gallery */

  /* courses */
  .courses .services-grids span {
    font-size: 2.5em;
  }
  .services-grids {
    text-align: center;
}
.services-grids h4 {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5em;
    font-weight: 600;
}

  /* courses */

  /* footer */
  .footer_section_1its {
    background: #151515;
}
.footer_section_1its h3, .footer_section_1its h2 {
    font-size: 22px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.footer-text p, .contact-info p {
    color: #808080;
    font-size: 14px;
    line-height: 1.8em;
    letter-spacing: 0.5px;
}
ul.social_section_1info li {
    display: inline-block;
}
ul.social_section_1info a {
    color: #808080;
    margin-right: 10px;
    font-size: 15px;
}
.contact-info h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1.71;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #fff;
}
ul.links li a {
    color: #808080;
    font-size: 15px;
    letter-spacing: .5px;
}
.phone p a {
    color: #808080;
}
.copyright {
    border-top: 1px solid #808080;
    margin-top: 2em;
    padding-top: 2em;
    margin-left: 15px;
}
.copyright p {
    font-size: 15px;
    letter-spacing: .5px;
    text-transform: capitalize;
}
.footer p {
    color: #808080;
}
  /* footer */


  /* contact */
  
  .contact-wrapper {
    margin: 0 auto;
    padding-top: 20px;
  }
  
  /* Begin Left Contact Page */
  .Gmap {
    float: left;
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
  }
  
  
  
 
  
  /* Begin Right Contact Page */
  .direct-contact-container {
    max-width: 400px;
    float: right;
    margin-top: 5px;
  }
  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .list-item {
    line-height: 4;
    color: #aaa;
  }
  
  .contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: rgb(104, 102, 102);
  }
  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .contact-text a {
    color: rgb(104, 102, 102);

    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #000022;
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  
  
 
  
 
 
 
  hr {
    border-color: rgba(44, 43, 43, 0.8); ;
  }
  
  /* Begin Media Queries*/
  @media screen and (max-width: 760px) {
      #contact {
          height: 1000px;
      }
    .section-header {
      font-size: 65px;
    }
    .direct-contact-container, .form-horizontal {
      float: none;
      margin: 10px auto;
    }  
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  
  @media screen and (max-width: 569px) {
    #contact {
      height: 1200px;
      }
    .section-header{
      font-size: 50px;
    }
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
      max-width: 340px;
      margin: 0 auto;
    }
    
    .name, .email, textarea {
      width: 280px;
    } 
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  }
  /* contact */